.button {
    background: $purple;
    border: none;
    border-radius: $m-size;
    border-bottom: 0.3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $xs-size;
}

.close__button {
    border-radius: 90%;
    width: fit-content;
    height: fit-content;
    color: red;
    background: none;
    border: 0.3rem;   
    font-size: $m-size;
}

.button__header {
    font-size: $m-size;
    font-family: cursive;
    font-weight: 200;
    text-align: center;
    background: $black-blue;
    border: none;
    border-right: 0.1rem solid white;
    color: white;
}

.button__edit {
    text-align: center;
    background: none;
    color:$light-blue;
    padding: $xs-size;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 50%;
}

.button--link { // -- is used as a naming convention for Modifier in BEM
    border: none;
    text-decoration: none;
}

.button__delete {
    background:$pink-red;
    border: none;
    border-radius: 50%;
}