.comment--delete {
  color: $pink-red;
  font-size: $ms-size;
  background-color: white;
  border-radius: 20px;
  border: none;
}

.comment--delete:hover {
  background-color: $fire-brick;
  color: white;
}

.commentBox {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-top: $l-size;
  margin-bottom: $ms-size;
}

.comment--avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.comment__content {
  margin-left: $s-size;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment__content .comment--header {
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: $xxs-size;
}

.comment--header p {
  margin: 0;
}

.comment--header .comment--author{
  margin-right: $m-size;
  font-size: $lm-size;
}

.comment--header .comment--date{
  margin-top: $xxs-size;
  font-size: $ms-size;
  color: $dark-blue;
}

.comment__content .comment--content {
  color: black;
  font-size: $ms-size;
  border-bottom: 1px $dark-blue solid;
  padding-bottom: $s-size;
}