.header {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: $m-size;
    padding: 0 $xs-size 0 $xs-size;
    align-items: center;
}

.header__title {
    color: $pink-red;
    font-size: $xl-size;
    margin: none;
    padding: none;
}

.sub__header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black-blue;
    height: fit-content;
    width: 75%
}