.hamburger__menu {
  z-index: 100;
}

.mobile__menu {
  position: absolute;
  left: 0;
  padding: 10px;
  color: black;
  width: 100vw;
  height: 100vh;
  background-color: $fire-brick;
  top: 0;
  z-index: 10;
  transition: 0.5s;
}

.header {
  color: white;
  margin-bottom: $m-size;
  background-color: $fire-brick;
  padding: 0 $xs-size 0 $xs-size;
  height: fit-content;
}

.header__show {
  display: none;
}

.header__hide {
  color: white;
  display: grid;
  grid-template-columns: 20% 20% 60%;
  height: fit-content;
}

.header__title {
  color: white;
  font-size: $xl-size;
  padding: 0 0 0 10px;
}

.header__buttons .sub__header{
  float: right;
  margin: $mids-size $xs-size 0 0;
}

.header__button {
  display: flex;
  flex-direction: column;
  padding-right: $s-size;
  color: white;
}

.header__button--title {
  color: white;
  font-size: $m-size;
  font-family: cursive;
  font-weight: 200;
}

.active {
  background-color: $dark-blue;
}