.post--add {
    border: $xxs-size $dark-blue solid;
    border-radius: 50px;
    color: $blue;
    margin: $m-size 0;
    font-size: $l-size;
    padding: 5px 0px 5px 20px;
    cursor: pointer;
}

.post--header {
    display: flex;
    justify-content: space-between;
}

.post--header h3{
    margin: 0;
}

.post--share {
    width: 60%;
    text-align: left;
}

.post--delete {
    margin: $s-size;
    background-color: white;
    color: $pink-red;
    font-size: $ms-size;
    border: 2px solid $pink-red;
    border-radius: 20px;
    padding: $xs-size;
}

.post--delete:hover {
    background-color: $fire-brick;
    color: white;
}

.post--like__dislike {
    display: flex;
    color: grey;
    margin: 0 $xxs-size;
}

.post--like__dislike:hover {
    color: darkgray;
}

.post--active {
    color: $light-blue;
}

.post--count {
    color: grey;
    margin-right: $m-size;
}

.post--comment-count {
    color: $blue;
    font-weight: 400;
    margin: 0 $m-size 0 0;
    cursor: pointer;
}

.post--comment{
    width: 80%;
}

.post--comment .MuiInputBase-root{
    border: 2px;
    border-radius: 50px;
    line-height: 0%;
}

.post--comment .MuiOutlinedInput-input{
    padding: 10px 12px;
}

.post--showAll {
    margin: $s-size 0;
    text-align: center;
    color: $blue;
    font-weight: 500;
    font-size: $m-size;
    width: 100%;
}