.search {
  height: fit-content;
  margin: $l-size $m-size;
}

.search .MuiInputBase-root{
  border: 2px;
  border-radius: 50px;
  line-height: 0%;
  background-color: white;
  background-image: url('../img/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2px 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search .MuiOutlinedInput-input{
  padding: 10px 12px;
}