.search {
    height: fit-content;
    float: left;
    margin: $s-size $xxl-size;
  }

.search .search__bar[type=text] {
    width: 110px;
    //box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search.png');
    background-size: contain;
    //background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 0px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .search .search__bar[type=text]:focus {
    width: 90%;
    border: 2px solid $light-blue;
  }

  .autocomplete {
    position: relative;
    display: inline-block;
  }

  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    color: black;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: black !important; 
    color: #ffffff; 
}