.skill--chip {
  display: inline-block;
  padding: 8px;
  height: fit-content;
  font-size: 16px;
  line-height: 25px;
  border-radius: 25px;
  margin: $s-size;
  background-color:lighten($color: #888, $amount: 30%);
}

.button--close {
  visibility: hidden;
  padding-left: 8px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.button--close:hover {
  color: $pink-red;
}

.skill--chip:hover .button--close{
  visibility: visible;
}

.profile__skills .MuiInputBase-root{
  border: 2px;
  border-radius: 50px;
  line-height: 0%;
}

.profile__skills .MuiOutlinedInput-input{
  padding: 10px 12px;
}