.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper section {
    width: 98%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.wrapper section .item {
    transition: 250ms all;
    margin-left: 20px;
}

.wrapper section .item:hover {
    margin: 20px;
    transform: scale(1.1);
}

.wrapper section .arrow__btn {
    position: absolute;
    color: $light-blue;
    text-decoration: none;
    font-size: 6rem;
    height: 37.5%;
    padding: 0px 10px;
    text-align: center;
    z-index: 1;    
}

.wrapper section .arrow__btn {
    visibility: hidden;
}

.wrapper:hover section .arrow__btn {
    visibility: visible;
}

.wrapper section .arrow__btn:nth-of-type(1) {
    top: 25%;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 50%, $light-blue 100%);
}

.wrapper section .arrow__btn:nth-of-type(2) {
    top: 25%;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, $light-blue 100%);
}
/*
.wrapper section a{
    position: absolute;
    color: $light-blue;
    text-decoration: none;
    font-size: 6rem;
    height: 37.5%;
    padding: 0px 10px;
    text-align: center;
    z-index: 1;
}


*/