.edit__detail {
    text-align: center;
    border: orange solid;
    min-height: 50vw; 
}

.edit__detail--top {
    margin-top: $xxl-size;
}

.edit__detail--picture {
    margin-right: $xxl-size;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: $xxl-size;
}

.profile--image {
}

.background--image {
}

.edit__detail--personal {
    margin-left: $xxl-size;
}

.edit__detail--bottom {
    margin-top: $l-size;
    display: grid;
    grid-template-columns: 50% 50%;
}

.edit__detail--button {
    font-size: $m-size;
    margin: $xxl-size;
}

@media screen and (max-width: 768px) {
    .edit__detail--top {
        display: flex;
        flex-direction: column;
    }

    .edit__detail--bottom {
        display: flex;
        flex-direction: column;
    }
}