.editProfile__changes {
    text-align: center;
}

.editProfile {
    display: flex;
    justify-content: space-around;
}

.profile__detail {
    font-size: $xl-size;
}

.personal {
    display: flex;
    flex-direction: column;
    margin: 0 $xxl-size;
    width: fit-content;
}

.profile__contact {
    margin: $xxl-size;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.contact__details {
    display: flex;
}

.profile__links {
    display: flex;
    flex-direction: column;
}

.profile__coding {
    display:flex;
}

.editProfile__button {
    margin-top: $xl-size;
    margin-left: $lm-size;
    margin-right: $lm-size;
    width: 12.5%; 
    font-size: $ms-size;
    font-weight: 500;
}