.front__page {
    display: grid;
    grid-template-columns: 67% 33%;
}

.description {
    margin-right: $m-size;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: $m-size;
    color: grey;
    margin-top: 35px;
    margin-left: $xs-size;
}

.avatar {
    vertical-align: middle;
    width: 112px;
    height: 112px;
    border-radius: 50%;
}

.developer {
    padding-top: $xs-size;
    display: flex;
    flex-direction: column;
    margin: 0 $m-size;
}

.dev__name{
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: $lm-size;
}

.developer:hover .dev__name{
    text-decoration: underline;
}