.post__button{
    color: white;
    border: none;
    font-size: $l-size;
    text-decoration: underline;
    background-color: $off-black;
    height: fit-content;
    margin-top: $s-size;
}

.home__view {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.home__feed {
    margin-left: $m-size;
    margin-right: $m-size;
}

.home__feed--wid{
    background-color: black;
    width: 100%;
}

.home__photo{
    background-color: $pink-red;
    height : wrap;
}