.profile__page {
    background-color: none;
}

.profile {
    display: grid;
    grid-template-columns: 800px 400px;
}

.profile__image {
    border: red solid 0.3rem;
    margin: $xxl-size;
    height: 300px;
}

.profile__detail {
    margin: $xxl-size 0;
}

.profile__contact {
    margin: $xxl-size;
}

.profile__widget {
    margin: $xl-size 0;
}