@media screen and (max-width: 768px) {
  .header__title {
    padding-right: 10px;
    width: 80%;
    padding-left: 20px;
  }
  .sub__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0px;
    margin: 0;
  }
  .home__widget {
    display: none;
  }
  .header {
    background-color: white;
  }
  .home__photo {
    display: none;
  }
  .home__view {
    grid-template-columns: 100%;
    margin-top: 20vw;
  }
  .header__hide {
    display: none;
  }
  .mob__hide {
    display: none;
  }
  .header__show {
    display: block;
    padding-right: 15px;
    top: 0;
    left: 0;
    margin-top: 90px;
    margin-left: 40px;
  }
  .header__buttons {
    padding-top: 100px;
  }
  .header__button {
    flex-direction: row;
    border-right: none;
    padding-top: 10px;
  }
  .header__button--title {
    padding-left: 10px;
  }
  .search {
    width: 100%;
    color: white;
  }
  .mobile__menu ul {
    margin-left: 50px;
    margin-top: 50px;
  }
  .profile__image {
    height: 100px;
    width: 100px;
    margin: auto;
  }
  .profile__info {
    flex-direction: column;
    width: 90vw;
  }
  .profile__detail {
    font-size: 10px;
  }
  .front__page {
    grid-template-columns: auto;
  }
  .login__form {
    margin: auto;
  }
  .description {
    margin: auto;
    font-size: 10px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .dev__name {
    display: none;
  }
  .login__byline {
    font-size: 10px;
  }
  .post--count{
    margin-right: 0px;
  }
  .search{
    margin-right: 30vw;
  }
}
