.signup--page {
    margin: $xxl-size;
}

.signup {
    display: grid;
    grid-template-columns: 50% 50%;
    border: orange solid;
}

.signup__byline {
    color: $light-blue;
    font-size: $m-size;
    font-style: italic;
    text-align: center;
}

.signup--details {
    margin: $m-size;
    text-align: center;
}

.signup--password {
    margin: $m-size;
    text-align: center;
}

.signup--password-hints {
    text-align: left;
    margin: $xxl-size;
    width: fit-content;
    font-size: $ms-size;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: $s-size;
}

.signup__connect {
    text-align: center;
    width: 50%;
    margin: $l-size
}

.signup__button {
    font-size: $m-size;
}