html {
    font-size: 62.5%;
    //background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, $light-blue 100%);
    background-repeat: no-repeat;
}

body {
    font-family: cursive;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default; 
}
