//Colors
$off-black: #20222b;
$off-white: #f5f5f5;
$light-blue: #4574bf;
$dark-blue: #333745;
$black-blue: #009999;
$blue: #3c4251;
$purple: #8357c5;
$pink-red: #DC143C;
$orange-yellow: #f5aa0a;

//Spacing
$xxs-size: 0.25rem;
$xs-size: 0.5rem;
$s-size: 1rem;
$ms-size: 1.25rem;
$m-size: 1.5rem;
$lm-size: 1.75rem;
$l-size: 2rem;
$xl-size: 2.25rem;
$xxl-size: 2.5rem;

$desktop-breakpoint: 45rem;